.clock-container {
    color: #fff;
    font-size: 60px;
    font-family: Orbitron;
    letter-spacing: 7px;
}

.line {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.label {
    width: 128px;
}